/************* GENERELLE INDSTILLINGER *************/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fafafa;
}

h1 {
    font-family: cormorant-garamond, serif;
    font-weight: 700;
    font-style: normal;
    color: #7a645a;
}

h2 {
    color: #7a645a;
    font-family: cormorant-garamond, serif;
    font-weight: 700;

}

h3 {
    color: #7a645a;
    font-family: cormorant-garamond, serif;
    font-size: 1.5rem;
    font-weight: 700;

}

p {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #7a645a;
    font-size: 1.25rem;
}

a {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    width: auto;
    text-decoration: none;
    color: #000;
}

img {
    width: 100%;
}

figure {
    margin: 0;
}

/************* GENERELLE INDSTILLINGER SLUT *************/









/************* HEADER *************/
nav {}

#desktop_menu {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    background-color: #fafafa;
}

#desktop_menu img {
    width: 150px;
    transform-origin: 50% 50%;
    margin-bottom: -85px;
}

#desktop_menu a {
    padding: 5px 0;
    transition: transform .3s;
}

#desktop_menu a:hover {
    transform: scale(1.04);
    /*    font-weight: 700;*/
}

#desktop_menu a:nth-child(3):hover {
    transform: scale(1);
    /*    font-weight: 700;*/
}






#mobil_header {
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 70px;
}

#mobil_header a img {
    width: 120px;
    height: 120px;
    margin-bottom: -116px;
}

#mobil_header a {
    transition: transform .3s;
}

#mobil_header a:hover {
    transform: scale(1);
}


#mobil_menu {
    width: 100vw;
    height: 100vh;
    padding: 20px 50px;
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    position: fixed;
    z-index: 10;
    background-color: #fafafa;
    top: 0;
}

#mobil_menu .mobil_logo {
    width: 150px;
    height: 150px;
}

#menu_links {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-top: 40px;
}

#mobil_menu a {
    margin: 20px 0;
    font-size: 2rem;
    transition: transform .3s;
    width: auto;
}

#mobil_menu a:hover {
    transform: scale(1.04);
    /*    font-weight: 700;*/
}

#mobil_menu .social_links {
    margin-top: 115px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#mobil_menu .social_links a {
    transition: transform .3s;
}

#mobil_menu .social_links a:hover {
    transform: scale(1.04);
}

#mobil_menu .social_links img {
    width: 70px;
    height: 70px;
    margin: 0 5px;
}

.hover {
    position: relative;
    display: inline-block;
}

.hover::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scale(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #7a645a;
    transform-origin: bottom right;
    transition: transform .3s ease-out;
}

.hover:hover::before {
    transform: scale(1);
    transform-origin: bottom left;
}

/************* HEADER SLUT *************/




/************* BURGERMENU *************/
#burgermenu {
    position: fixed;
    transform-origin: 50% 50%;
    margin-left: 50px;
    right: -60px;
    bottom: 100px;
    width: 120px;
    height: 100px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #7a645a;
    cursor: pointer;
    padding: 18px;
    z-index: 100;
    transition: box-shadow .3s;
}

#burgermenu:hover {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

.wrapper-menu {
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
}

.wrapper-menu.open {
    transform: rotate(-45deg);
}

.line-menu {
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    height: 6px;
}

.line-menu.half {
    width: 50%;
}

.line-menu.start {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
}

.open .line-menu.start {
    transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
}

.open .line-menu.end {
    transform: rotate(-90deg) translateX(-3px);
}


.vis_menu {
    animation-name: vis_menu_kf;
    animation-duration: .6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.vis_menu_punkter {
    animation-name: vis_menu_punkter_kf;
    animation-duration: .6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}


.fjern_menu {
    animation-name: fjern_menu_kf;
    animation-duration: .6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

/************* BURGERMENU SLUT *************/



/************* FOOTER *************/
footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #fff;
    padding-bottom: 20px;
}

footer p {
    color: #000;
    font-size: 1rem;
}

footer img {
    display: none;
    width: 80px;
    height: 80px;
}

footer .footer_info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000000;

}

footer .social_links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer .social_links img {
    display: flex;
    width: 60px;
    height: 60px;
    margin: 0 4px;
    margin-top: 20px;
}

footer .social_links a {
    transition: transform .3s;
}

footer .social_links a:hover {
    transform: scale(1.06);
}

footer p {
    margin: 0;
}

footer .col:last-child {
    margin-top: 15px;
}


/************* FOOTER SLUT *************/









/************* SCROLL IKON *************/
.scroll_ikon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.scroll_ikon p {
    font-size: .8rem;
    color: #fff;
    text-align: center;
    margin-bottom: 35px;
    text-shadow: 3px 0px 2px rgba(0, 0, 0, 0.5);
}

.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

/************* SCROLL IKON SLUT *************/









/************* LANDINGPAGE *************/
#landingpage #landingpage_splash_video {
    position: relative;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: 92vh;
    /*    background-image: url(https://via.placeholder.com/1920x1080);*/
    background-position: 45%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #7a645a;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#landingpage #landingpage_splash {
    position: relative;
    top: 0;
    width: 100vw;
    height: 100vh;
    /*    background-image: url(https://via.placeholder.com/1920x1080);*/
    background-position: 45%;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#landingpage #landingpage_info {
    width: 100vw;
    padding: 40px 40px 80px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#landingpage #landingpage_info h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
    margin-top: 40px;
}




#landingpage_bubbles {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 40px 40px 40px 40px;
}

#landingpage #landingpage_bubbles .wp-block-columns {
    padding-bottom: 60px;
    display: flex;
    flex-direction: column-reverse;
}

#landingpage #landingpage_bubbles .wp-block-columns:last-child {
    flex-direction: column;
}

#landingpage #landingpage_bubbles h2 {
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
}

#landingpage #landingpage_bubbles .wp-block-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landingpage_knap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 30px;
    background-color: #7A645A;
    padding: 6px 6px;
    transition: transform .3s, box-shadow .3s;
    align-self: center;
    max-width: 125px;
}

#landingpage #landingpage_bubbles .wp-block-columns .wp-block-column:first-child .landingpage_knap {
    max-width: 125px;
}

#landingpage #landingpage_bubbles .wp-block-columns .wp-block-column:last-child .landingpage_knap {
    max-width: 155px;
}

.landingpage_knap a {
    border: #FAFAFA 1px solid;
    padding: 8px 12px;
    color: #fafafa;
    width: auto;
    transition: color .3s;
}


.landingpage_knap:hover {
    /*    background-color: rgba(122, 100, 90, 0.96);*/
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}

.landingpage_knap a:hover {
    color: #fff;
}

#landingpage #insta_gallery {
    padding-top: 40px;
}






#landingpage_splash .splash_info {
    width: 82%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    border: 4px solid #7a645a;
    padding: 20px 40px;
    margin-bottom: 30%;
    justify-self: center;
}

#landingpage_splash .splash_info h2 {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0;
    margin-top: 40px;
    text-align: center;
}

#landingpage_splash .splash_info .landingpage_knap {
    max-width: 175px;
    margin-bottom: 10px;
}





















/************* LANDINGPAGE SLUT *************/









































/************* KONTAKT *************/
#kontakt #kontakt_splash {
    position: relative;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: 92vh;
    background-image: url();
    background-position: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#kontakt #kontakt_info {
    width: 100vw;
    padding: 40px;
    height: 100vh;
    display: flex;
    align-items: center;
}

#kontakt #kontakt_info h1 {
    font-size: 3rem;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-top: 60px;
}


#kontakt #kontakt_info a {
    text-transform: lowercase;
    font-weight: 300;
    color: #7a645a;
}

#kontakt #kontakt_info p:last-child {
    padding-bottom: 40px;
}


#kontakt #kontakt_info .box_logo {
    background-color: #7a645a;
    background-image: url(billeder/hvidt_logo.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 80vh;
    display: none;
}




/************* KONTAKT SLUT *************/






/************* SMYKKER *************/

#smykker #smykker_splash {
    position: relative;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: 92vh;
    /*    background-image: url(https://via.placeholder.com/1920x1080);*/
    background-position: 45%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#smykker #smykke_info {
    width: 100vw;
    padding: 40px 40px 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#smykker #smykke_info h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
    margin-top: 40px;
}


#smykker #alle_smykker h3 {
    color: #7a645a;
    font-family: cormorant-garamond, serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 5px;

}

#smykker #alle_smykker p {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #7a645a;
    font-size: 1rem;
    margin: 5px;
    max-width: 80%;
}



#smykker #alle_smykker img {
    width: 70%;
}

#smykker #kategorier {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-column-gap: 5vw;
    grid-row-gap: 1vw;
    margin: 0 auto;
    max-width: 1200px;
    padding: 40px;
}

#smykker #kategorier article {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    place-self: center;
    transition: transform .3s, color .3s;
}

#smykker #kategorier article:hover {
    transform: scale(1.04);
}

#smykker #kategorier article h3 {
    margin: 0;
    text-align: center;
    font-size: 1.25rem;
}

#smykker #kategorier article a img {
    width: 100%;
}








































/************* SMYKKER SLUT *************/







/************* ALLE SMYKKER *************/
#alle_smykker {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 5vw;
    grid-row-gap: 1vw;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 40px 40px 40px;
    justify-items: end;
}

/************* ALLE SMYKKER SLUT *************/










/************* FORNYELSE *************/


#fornyelse #fornyelse_splash {
    position: relative;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: 92vh;
    /*    background-image: url(https://via.placeholder.com/1920x1080);*/
    background-position: 45%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#fornyelse #fornyelse_info {
    width: 100vw;
    padding: 40px 40px 80px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fornyelse .wp-block-columns {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 40px;
}

#fornyelse .wp-block-columns:first-child {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0;
}

#fornyelse .wp-block-columns:nth-child(2) {
    display: flex;
    flex-direction: column;
}

#fornyelse #fornyelse_info h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
    margin-top: 40px;
}


#fornyelse #fornyelse_info h2 {
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
}

#fornyelse .journey {
    display: none;
}


















/************* FORNYELSE SLUT *************/








/************* OM BUERHOLT *************/



#om #om_info h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
    margin-top: 40px;
}

#om {
    /*    z-index: -1;*/
    position: relative;
    margin-top: 7vh;
}

#om #om_info {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#insta_gallery {
    width: 100vw;
    height: 60vh;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*    padding-bottom: 40px;*/

}

#insta_gallery #insta_grid_container {
    display: grid;
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    grid-template-rows: auto;

    grid-template-areas:
        "post1 post2 post3"
        "post4 post5 post6"
        "post7 post5 post8";
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding-bottom: 40px;
    justify-content: stretch;
}

.insta_post {
    background-image: url();
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .3s;
}

.insta_post:hover {
    transform: scale(1.02);
}

.post1 {
    grid-area: post1;
}

.post2 {
    grid-area: post2;
}

.post3 {
    grid-area: post3;
}

.post4 {
    grid-area: post4;
}

.post5 {
    grid-area: post5;
}

.post6 {
    grid-area: post6;
}

.post7 {
    grid-area: post7;
}

.post8 {
    grid-area: post8;
}


















/************* OM BUERHOLT SLUT *************/




/************* BRØDKRUMMESTI *************/
#breadcrumb_container {
    max-width: 1000px;
    height: auto;
    display: flex;
    margin: 0 auto;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    padding: 0 40px;
}

.breadcrumb_sti {
    padding-top: 60px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.breadcrumb_sti a {
    color: #7a645a;
}

.breadcrumb_sti p {
    margin: 0 10px;
}


/************* BRØDKRUMMESTI SLUT *************/






/************* RINGE *************/

#ringe #ringe_splash {
    position: relative;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: 92vh;
    /*    background-image: url(https://via.placeholder.com/1920x1080);*/
    background-position: 45%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#ringe #ringe_info {
    width: 100vw;
    padding: 0 40px 80px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ringe #ringe_info h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
    margin-top: 40px;
}

/************* RINGE SLUT *************/














/************* VIELSESRINGE *************/
#vielsesringe #vielsesringe_splash {
    position: relative;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: 92vh;
    /*    background-image: url(https://via.placeholder.com/1920x1080);*/
    background-position: 45%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#vielsesringe #vielsesringe_info {
    width: 100vw;
    padding: 0 40px 80px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#vielsesringe #vielsesringe_info h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
    margin-top: 40px;
}



























/************* VIELSESRINGE SLUT *************/











/************* ØRERINGE *************/
#oereringe #oereringe_splash {
    position: relative;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: 92vh;
    /*    background-image: url(https://via.placeholder.com/1920x1080);*/
    background-position: 45%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#oereringe #oereringe_info {
    width: 100vw;
    padding: 0 40px 80px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#oereringe #oereringe_info h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
    margin-top: 40px;
}



























/************* ØRERINGE SLUT *************/

















/************* ARMBÅND *************/
#armbaand #armbaand_splash {
    position: relative;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: 92vh;
    /*    background-image: url(https://via.placeholder.com/1920x1080);*/
    background-position: 45%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#armbaand #armbaand_info {
    width: 100vw;
    padding: 0 40px 80px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#armbaand #armbaand_info h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
    margin-top: 40px;
}



























/************* ARMBÅND SLUT *************/














/************* HALSKÆDER *************/
#halskaeder #halskaeder_splash {
    position: relative;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: 92vh;
    /*    background-image: url(https://via.placeholder.com/1920x1080);*/
    background-position: 45%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#halskaeder #halskaeder_info {
    width: 100vw;
    padding: 0 40px 80px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#halskaeder #halskaeder_info h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
    margin-top: 40px;
}



























/************* HALSKÆDER SLUT *************/













/************* BUBBLES *************/
#bubbles #bubbles_splash {
    position: relative;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: 92vh;
    /*    background-image: url(https://via.placeholder.com/1920x1080);*/
    background-position: 45%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#bubbles #bubbles_info {
    width: 100vw;
    padding: 0 40px 80px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bubbles #bubbles_info h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
    margin-top: 40px;
}


























/************* BUBBLES SLUT *************/












/************* WP-STYLING *************/
.wp-block-columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wp-block-column {
    width: 100%;
}


/************* WP-STYLING SLUT *************/









@media only screen and (min-width:500px) {
    #alle_smykker {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-column-gap: 2vw;
        grid-row-gap: 5vw;
        margin: 0 auto;
        max-width: 1200px;
        padding: 0 40px 40px 40px;
        justify-items: end;
    }


    #alle_smykker article {
        /*        border: 1px solid #333;*/
        padding: 0 10% 0 10%;
    }

    #alle_smykker article p,
    #alle_smykker article h3 {
        max-width: 100%;
        padding: 0 5%;
    }

    #alle_smykker article img {
        width: 100%;
    }


    /************* SMYKKER, RINGE, VIELSESRINGE, ØRERINGE, ARMBÅND, HALSKÆDER SLUT *************/
}









@media only screen and (min-width:600px) {



    /************* SMYKKER, RINGE, VIELSESRINGE, ØRERINGE, ARMBÅND, HALSKÆDER *************/
    #alle_smykker {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-column-gap: 2vw;
        grid-row-gap: 5vw;
        margin: 0 auto;
        max-width: 1200px;
        padding: 0 40px 40px 40px;
        justify-items: end;
    }

    #alle_smykker article p,
    #alle_smykker article h3 {
        max-width: 100%;
        padding: 0 5%;
    }


    #alle_smykker article:nth-child(2n+2) {
        /*        border: 1px solid #333;*/
        padding: 0 20% 0 0;
    }

    #alle_smykker article:nth-child(2n+2) p {
        max-width: 90%;
    }

    #alle_smykker article:nth-child(2n+2) img {
        width: 100%;
    }


    #alle_smykker article:nth-child(2n+3) {
        /*        border: 1px solid #bc1818;*/
        padding: 0 0 0 20%;
    }

    #alle_smykker article:nth-child(2n+3) p {
        max-width: 90%;
    }

    #alle_smykker article:nth-child(2n+3) img {
        width: 100%;
    }


    /************* SMYKKER, RINGE, VIELSESRINGE, ØRERINGE, ARMBÅND, HALSKÆDER SLUT *************/
}










@media only screen and (min-width:768px) {

    /************* HEADER *************/
    #desktop_menu {
        display: flex;
    }

    #mobil_header {
        display: none;
    }

    #mobil_menu {
        display: none;
    }

    /************* HEADER SLUT *************/



    /************* BURGERMENU *************/
    #burgermenu {
        display: none;
    }

    /************* BURGERMENU SLUT *************/



    /************* FOOTER *************/
    footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 20px 20px 20px;
    }

    footer .footer_info {
        flex-direction: row;
    }

    footer .social_links img {
        margin-bottom: 6px;
    }

    footer img {
        display: block;
        margin-top: 10px;
        margin-bottom: -10px;
    }

    footer .col:last-child {
        margin-top: 0;
    }

    footer .col {
        margin: 0 20px;
    }

    /************* FOOTER SLUT *************/






    /************* LANDINGPAGE *************/
    #landingpage #landingpage_info {
        flex-direction: row;
        justify-content: center;
        height: 90vh;
    }

    #landingpage #landingpage_info .wp-block-columns {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    #landingpage #landingpage_info .wp-block-column {
        width: 50%;
        padding: 20px;
        max-width: 50%;
    }

    #landingpage #landingpage_info .wp-block-column:first-child,
    #landingpage #landingpage_bubbles .wp-block-column:first-child {
        padding-right: 35px;
    }

    #landingpage #landingpage_info .wp-block-column:last-child,
    #landingpage #landingpage_bubbles .wp-block-column:last-child {
        padding-left: 35px;
    }

    #landingpage #landingpage_info .wp-block-column h1,
    #landingpage #landingpage_bubbles .wp-block-column h1 {
        margin: 0;
    }

    #landingpage #landingpage_info .wp-block-column p,
    #landingpage #landingpage_bubbles .wp-block-column p {
        margin: 5px 0;
    }


    #landingpage #landingpage_bubbles {
        flex-direction: column;
        justify-content: space-between;
    }

    #landingpage #landingpage_bubbles .wp-block-columns {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    #landingpage #landingpage_bubbles .wp-block-columns:last-child {
        flex-direction: row;
    }

    #landingpage #landingpage_bubbles .wp-block-column {
        width: 50%;
        padding: 20px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }


    #landingpage #landingpage_bubbles .wp-block-column p {
        max-width: 100%;
    }

    #landingpage #landingpage_bubbles .wp-block-column h2 {
        align-self: flex-start;
    }

    #landingpage #landingpage_bubbles .wp-block-column h1,
    #landingpage #landingpage_bubbles .wp-block-column h2 {
        font-size: 2rem;
    }




    #landingpage_splash .splash_info {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: flex-start;
        align-self: flex-start;
        background-color: #fafafa;
        border: 4px solid #7a645a;
        padding: 20px 40px;
        margin-bottom: 10%;
        margin-left: 5%;
    }

    #landingpage #landingpage_splash .info_right {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: flex-start;
        align-self: flex-start;
        background-color: #fafafa;
        border: 4px solid #7a645a;
        padding: 20px 40px;
        margin-bottom: 5%;
        margin-left: 0;
        position: absolute;
        right: 3%;
        bottom: 18%;
    }











    /************* LANDINGPAGE SLUT *************/



    /************* KONTAKT *************/
    #kontakt .kontakt_grid {
        display: grid;
        max-width: 100%;
        margin: 0 auto;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-column-gap: 40px;
    }

    #kontakt #kontakt_info .box_logo {
        display: block;
        align-self: center;
    }

    #kontakt #kontakt_info .box_info {
        align-self: center;
        place-self: center;
    }

    #kontakt #kontakt_info .box_info p {
        font-size: 1.25rem;
        margin: 10px 0;
    }

    #kontakt #kontakt_info .box_info p:nth-child(2),
    #kontakt #kontakt_info .box_info p:nth-child(3) {
        font-size: 1.5rem;
        margin: 0;
        margin-top: 0;
    }

    #kontakt #kontakt_info h1 {
        font-size: 1.75rem;
        margin-top: none;
    }

    /************* KONTAKT SLUT *************/





    /************* FORNYELSE *************/
    #fornyelse #fornyelse_info {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 5%;
        padding-right: 5%;
    }

    #fornyelse #fornyelse_info .wp-block-columns {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 30px;
        margin-top: 0;
    }

    #fornyelse #fornyelse_info .wp-block-column {
        /*        width: 50%;*/
        /*        padding: 20px;*/

    }

    #fornyelse #fornyelse_info .wp-block-column img {
        /*        width: 80%;*/
        /*        padding: 20px;*/
        align-self: center;
        justify-self: center;
    }

    #fornyelse #fornyelse_info .wp-block-column p {
        width: 100%;
        /*        padding: 20px;*/
    }

    #fornyelse #fornyelse_info .wp-block-column:nth-child(odd) {
        padding-right: 15px;
        justify-self: flex-start;
    }

    #fornyelse #fornyelse_info .wp-block-column:nth-child(even) {
        padding-left: 15px;
        justify-self: flex-end;
    }

    #fornyelse #fornyelse_info .wp-block-column h1 {
        margin: 0;
    }

    #fornyelse #fornyelse_info .wp-block-column p {
        margin: 5px 0;
    }

    /*
    #fornyelse .journey {
        display: flex;
        width: 100%;
        background-color: #efa444;
        height: 20px;
        position: relative;
    }

    #fornyelse .journey:first-child,
    #fornyelse .journey:nth-child(5) {
        display: flex;
        width: 100%;
        background-color: #1b59ce;
        height: 200px;
        position: relative;
    }*/

    /************* FORNYELSE SLUT *************/














    /************* OM BUERHOLT *************/
    #om #om_info {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 5%;
        padding-right: 5%;
    }

    #om #om_info .wp-block-columns {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 30px;
        margin-top: 0;
    }

    #om #om_info .wp-block-column {
        /*        width: 50%;*/
        /*        padding: 20px;*/

    }

    #om #om_info .wp-block-column img {
        /*        width: 80%;*/
        /*        padding: 20px;*/
        align-self: center;
        justify-self: center;
    }

    #om #om_info .wp-block-column p {
        width: 100%;
        /*        padding: 20px;*/
    }

    #om #om_info .wp-block-column:nth-child(odd) {
        padding-right: 15px;
        justify-self: flex-start;
    }

    #om #om_info .wp-block-column:nth-child(even) {
        padding-left: 15px;
        justify-self: flex-end;
    }

    #om #om_info .wp-block-column h1 {
        margin: 0;
    }

    #om #om_info .wp-block-column p {
        margin: 5px 0;
    }

    #insta_gallery {
        height: 100vh;
    }


    /************* OM BUERHOLT SLUT *************/





    /************* BRØDKRUMMESTI *************/
    #breadcrumb_container {
        padding: 0 20px;
    }

    /************* BRØDKRUMMESTI SLUT *************/



    /************* SMYKKER, RINGE, VIELSESRINGE, ØRERINGE, ARMBÅND, HALSKÆDER *************/

    #smykker #smykke_info,
    #ringe #ringe_info,
    #vielsesringe #vielsesringe_info,
    #oereringe #oereringe_info,
    #armbaand #armbaand_info,
    #halskaeder #halskaeder_info,
    #bubbles #bubbles_info {
        flex-direction: row;
        justify-content: center;
    }

    #smykker #smykke_info .wp-block-columns,
    #ringe #ringe_info .wp-block-columns,
    #vielsesringe #vielsesringe_info .wp-block-columns,
    #oereringe #oereringe_info .wp-block-columns,
    #armbaand #armbaand_info .wp-block-columns,
    #halskaeder #halskaeder_info .wp-block-columns,
    #bubbles #bubbles_info .wp-block-columns {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    #smykker #smykke_info .wp-block-column,
    #ringe #ringe_info .wp-block-column,
    #vielsesringe #vielsesringe_info .wp-block-column,
    #oereringe #oereringe_info .wp-block-column,
    #armbaand #armbaand_info .wp-block-column,
    #halskaeder #halskaeder_info .wp-block-column,
    #bubbles #bubbles_info .wp-block-column {
        width: 50%;
        padding: 20px;
        max-width: 500px;
    }

    #smykker #smykke_info .wp-block-column:first-child,
    #ringe #ringe_info .wp-block-column:first-child,
    #vielsesringe #vielsesringe_info .wp-block-column:first-child,
    #oereringe #oereringe_info .wp-block-column .wp-block-column:first-child,
    #armbaand #armbaand_info .wp-block-column .wp-block-column:first-child,
    #halskaeder #halskaeder_info .wp-block-column:first-child,
    #bubbles #bubbles_info .wp-block-column:first-child {
        padding-right: 35px;
    }

    #smykker #smykke_info .wp-block-column:last-child,
    #ringe #ringe_info .wp-block-column:last-child,
    #vielsesringe #vielsesringe_info .wp-block-column:last-child,
    #oereringe #oereringe_info .wp-block-column:last-child,
    #armbaand #armbaand_info .wp-block-column .wp-block-column:last-child,
    #halskaeder #halskaeder_info .wp-block-column:last-child,
    #bubbles #bubbles_info .wp-block-column:last-child {
        padding-left: 35px;
    }

    #smykker #smykke_info .wp-block-column h1,
    #ringe #ringe_info .wp-block-column h1,
    #vielsesringe #vielsesringe_info .wp-block-column h1,
    #oereringe #oereringe_info .wp-block-column h1,
    #armbaand #armbaand_info .wp-block-column .wp-block-column h1,
    #halskaeder #halskaeder_info .wp-block-column h1,
    #bubbles #bubbles_info .wp-block-column h1 {
        margin: 0;
    }

    #smykker #smykke_info .wp-block-column p,
    #ringe #ringe_info .wp-block-column p,
    #vielsesringe #vielsesringe_info .wp-block-column p,
    #oereringe #oereringe_info .wp-block-column p,
    #armbaand #armbaand_info .wp-block-column .wp-block-column p,
    #halskaeder #halskaeder_info .wp-block-column p,
    #bubbles #bubbles_info .wp-block-column p {
        margin: 5px 0;
    }


    #alle_smykker {
        padding: 0 40px 40px 40px;
    }

    #alle_smykker article {
        justify-self: stretch;
    }

    #smykker #kategorier {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    #smykker .kategori_article {
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
    }

    #smykker #kategorier article h3 {
        font-size: 1rem;
    }

    #smykker #smykke_info {
        padding: 40px;
    }

    #alle_smykker {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-column-gap: 2vw;
        grid-row-gap: 5vw;
        margin: 0 auto;
        max-width: 1200px;
        padding: 0 40px 40px 40px;
        justify-items: end;
    }



    #alle_smykker article:nth-child(2n+2) {
        /*        border: 1px solid #333;*/
        padding: 0 20% 0 0;
    }

    #alle_smykker article:nth-child(2n+2) p {
        max-width: 90%;
    }

    #alle_smykker article:nth-child(2n+2) img {
        width: 100%;
    }


    #alle_smykker article:nth-child(2n+3) {
        /*        border: 1px solid #bc1818;*/
        padding: 0 0 0 20%;
    }

    #alle_smykker article:nth-child(2n+3) p {
        max-width: 90%;
    }

    #alle_smykker article:nth-child(2n+3) img {
        width: 100%;
    }


    /************* SMYKKER, RINGE, VIELSESRINGE, ØRERINGE, ARMBÅND, HALSKÆDER SLUT *************/

}

@media only screen and (min-width:992px) {




    /************* LANDINGPAGE *************/
    #landingpage_splash .splash_info {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: flex-start;
        align-self: flex-start;
        background-color: #fafafa;
        border: 4px solid #7a645a;
        padding: 20px 40px;
        margin-bottom: 5%;
        margin-left: 3%;
    }

    #landingpage #landingpage_splash .info_right {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: flex-start;
        align-self: flex-start;
        background-color: #fafafa;
        border: 4px solid #7a645a;
        padding: 20px 40px;
        margin-bottom: 5%;
        margin-left: 0;
        position: absolute;
        right: 3%;
        bottom: 12%;
    }


    /************* LANDINGPAGE SLUT *************/









    /************* FORNYELSE *************/

    #fornyelse #fornyelse_info .wp-block-columns {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 30px;
    }

    /************* FORNYELSE SLUT *************/







    /************* OM BUERHOLT *************/
    #om #om_info {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 10%;
        padding-right: 10%;
    }

    #insta_gallery {
        height: 140vh;
    }

    #insta_gallery #insta_grid_container {
        padding: 0 7%;
        padding-top: 60px;
        padding-bottom: 60px;
        grid-column-gap: 2vw;
        grid-row-gap: 2vw;
    }

    /************* OM BUERHOLT SLUT *************/




    /************* KONTAKT *************/
    #kontakt .kontakt_grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
        grid-column-gap: 40px;
        justify-items: center;
    }

    #kontakt #kontakt_info .box_info p:last-child {
        max-width: 60%;

    }

    /************* KONTAKT SLUT *************/






    /************* SMYKKER *************/
    #smykker #kategorier {
        grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
        grid-row-gap: 1vh;
    }

    #smykker .kategori_article {
        width: 100%;
        height: 100%;
        display: flex;
    }

    #smykker #kategorier article h3 {
        font-size: 1.25rem;
    }

    #alle_smykker {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-column-gap: 5vw;
        grid-row-gap: 1vw;
        margin: 0 auto;
        max-width: 1200px;
        padding: 0 40px 40px 40px;
        justify-items: end;
    }



    #alle_smykker article:nth-child(3n+4) {
        /*        border: 1px solid #333;*/
        padding: 0 0 0 20%;
    }

    #alle_smykker article:nth-child(3n+4) p {
        max-width: 90%;
    }

    #alle_smykker article:nth-child(3n+4) img {
        width: 100%;
    }

    #alle_smykker article:nth-child(3n+3) {
        /*        border: 1px solid #333;*/
        padding: 0 10% 0 10%;
    }

    #alle_smykker article:nth-child(3n+3) p {
        max-width: 100%;
    }

    #alle_smykker article:nth-child(3n+3) img {
        width: 100%;
    }

    #alle_smykker article:nth-child(3n+2) {
        padding: 0 20% 0 0;
    }

    #alle_smykker article:nth-child(3n+2) p {
        max-width: 90%;
    }

    #alle_smykker article:nth-child(3n+2) img {
        width: 100%;
    }

    /************* SMYKKER SLUT *************/
}

@media only screen and (min-width:1200px) {


    /************* LANDINGPAGE *************/
    #landingpage #landingpage_info {
        flex-direction: row;
        justify-content: center;
        height: 90vh;
    }

    #landingpage #landingpage_info .wp-block-columns {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    #landingpage #landingpage_info .wp-block-column {
        width: 50%;
        padding: 20px;
        max-width: 35%;
    }

    #landingpage #landingpage_info .wp-block-column:first-child,
    #landingpage #landingpage_bubbles .wp-block-column:first-child {
        padding-right: 35px;
    }

    #landingpage #landingpage_info .wp-block-column:last-child,
    #landingpage #landingpage_bubbles .wp-block-column:last-child {
        padding-left: 35px;
    }

    #landingpage #landingpage_info .wp-block-column h1,
    #landingpage #landingpage_bubbles .wp-block-column h1 {
        margin: 0;
    }

    #landingpage #landingpage_info .wp-block-column p,
    #landingpage #landingpage_bubbles .wp-block-column p {
        margin: 5px 0;
    }


    #landingpage #landingpage_bubbles {
        flex-direction: column;
        justify-content: space-between;
    }

    #landingpage #landingpage_bubbles .wp-block-columns {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    #landingpage #landingpage_bubbles .wp-block-column {
        width: 50%;
    }


    #landingpage #landingpage_bubbles .wp-block-column p {
        max-width: 85%;
    }

    #landingpage #landingpage_bubbles .wp-block-column h1,
    #landingpage #landingpage_bubbles .wp-block-column h2 {
        font-size: 3rem;
        max-width: 85%;
        align-self: center;
    }




    #landingpage_splash .splash_info {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: flex-start;
        align-self: flex-start;
        background-color: #fafafa;
        border: 4px solid #7a645a;
        padding: 20px 40px;
        margin-bottom: 5%;
        margin-left: 3%;
    }

    #landingpage #landingpage_splash .info_right {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: flex-start;
        align-self: flex-start;
        background-color: #fafafa;
        border: 4px solid #7a645a;
        padding: 20px 40px;
        margin-bottom: 5%;
        margin-left: 0;
        position: absolute;
        right: 5%;
        bottom: 10%;
    }

    /************* LANDINGPAGE SLUT *************/






    /************* KONTAKT *************/
    #kontakt .kontakt_grid {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(540px, 1fr));
        grid-column-gap: 40px;
    }

    #kontakt #kontakt_info h1 {
        font-size: 3rem;
    }

    /************* KONTAKT SLUT *************/





    /************* FORNYELSE *************/

    #fornyelse #fornyelse_info {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 10%;
        padding-right: 10%;
    }


    #fornyelse #fornyelse_info .wp-block-column p {
        width: 80%;
        /*        padding: 20px;*/
    }

    #fornyelse #fornyelse_info .wp-block-column:nth-child(odd) {
        padding-right: 35px;
        justify-self: flex-start;
    }

    #fornyelse #fornyelse_info .wp-block-column:nth-child(even) {
        padding-left: 35px;
        justify-self: flex-end;
    }

    /************* FORNYELSE SLUT *************/




    /************* SMYKKER *************/
    #smykker #kategorier {
        grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
        grid-row-gap: 1vh;
    }

    #smykker #alle_smykker {
        padding: 0 0 40px 0;
    }

    #alle_smykker {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-column-gap: 5vw;
        grid-row-gap: 1vw;
        margin: 0 auto;
        max-width: 1200px;
        padding: 0 40px 40px 40px;
        justify-items: end;
    }

    /************* SMYKKER SLUT *************/


}

@media only screen and (min-width:1500px) {

    /************* LANDINGPAGE *************/
    #landingpage #landingpage_bubbles .wp-block-columns {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    #landingpage #landingpage_bubbles .wp-block-column {
        width: 45%;
    }


    #landingpage #landingpage_bubbles .wp-block-column p {
        max-width: 75%;
    }

    #landingpage #landingpage_bubbles .wp-block-column h1,
    #landingpage #landingpage_bubbles .wp-block-column h2 {
        font-size: 3rem;
        max-width: 75%;
        align-self: center;
    }



    #landingpage_splash .splash_info {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: flex-start;
        align-self: flex-start;
        background-color: #fafafa;
        border: 4px solid #7a645a;
        padding: 20px 40px;
        margin-bottom: 5%;
        margin-left: 5%;
    }

    #landingpage #landingpage_splash .info_right {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: flex-start;
        align-self: flex-start;
        background-color: #fafafa;
        border: 4px solid #7a645a;
        padding: 20px 40px;
        margin-bottom: 5%;
        margin-left: 0;
        position: absolute;
        right: 5%;
        bottom: 10%;
    }

    /************* LANDINGPAGE SLUT *************/





    /************* KONTAKT *************/
    #kontakt .kontakt_grid {
        max-width: 1500px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(650px, 1fr));
        grid-column-gap: 40px;
    }

    /************* KONTAKT SLUT *************/



    /************* SMYKKER *************/
    #smykker #kategorier {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }

    /************* SMYKKER SLUT *************/
}



@keyframes vis_menu_kf {
    0% {
        opacity: 0;
        display: none;
    }

    100% {
        opacity: 1;
        display: flex;
    }
}


@keyframes fjern_menu_kf {
    0% {
        opacity: 1;
        display: flex;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes vis_menu_punkter_kf {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
